<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go-Blog</title>
    </head>
    <body>
        <h1>Welcome to Go-Blog!</h1>
        {{ if not . }}
            <h2>Nothing here!</h2>
        {{ else }}
            <div>
                {{ range . }}
                    <div>
                        <h3><a href="/post/{{ .Id }}">{{ .Title }}</a></h3>
                        <p>
                            {{ .Body }}
                            {{ if eq (len .Body) 100 }}
                                ...
                            {{ end }}
                        </p>
                    </div>
                    <br/>
                {{ end }}
            </div>
        {{ end }}
    </body>
</html>
