<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
    </head>
    <body>
        <h1>Register yoself</h1>

        <form action="/register/author/" method="POST">
            <input type="text" name="username" value="username" title="username" required><br/>
            <input type="text" name="password" value="password" title="password" required><br/><br/>
            <input type="submit" value="Signup">
        </form>
    </body>
</html>
